body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-background {
    width: 270px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 7px 1px black;
}
    

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px
}

.btn {
    background-color: yellow;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

p{
    font-size: small;
    margin-top: 10px;
    margin-left: 10px;
}

h3{
    margin-top: 10px;
    margin-left: 10px;
    font-family: sans-serif;
}

.user img {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 5px;
}

.user {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 10px;
}



  